<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSec</title>
</head>
<body>
    <style>
        body{
            background-color: #9CDCF1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1{
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }
        .form input{
            margin: 10px 0px;
        }
        button{
            margin-left: -170px;
        }
    </style>
    <h1>Trang lấy lại mật khẩu</h1>
    <form action="", method="POST" class="form">
        {% csrf_token %}
        <div>
            {{ form}}
        </div>
        <input type="submit" value="Lấy lại mật khẩu">
    </form>
    {% if message %}
    <div  style="color: rgb(14, 96, 51); font-weight: 600">{{ message }}</div>
    <button onclick="window.location.href='/login'">Đăng nhập</button>
    {% endif %}
    {% if notice %}
    <p style="color:red;">{{ notice }}</p>
    {% endif %}
</body>
</html>