<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSec</title>
</head>
<body>
    <style>
        body{
            background-color: #9CDCF1;
        }
        h1{
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button{
            padding: 15px 20px;
            margin-bottom: 20px;
            align-items: center;
            border-radius: 15px;
        }
    </style>
    <h1>Trang chủ</h1>
    <div class="btn">
        <button onclick="window.location.href='login'">Đăng nhập</button>
        <button onclick="window.location.href='register'">Đăng ký tài khoản</button>
    </div>
</body>
</html>