<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSec</title>
</head>
<body>
    <style>
        body{
        background-color: #9CDCF1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1{
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    </style>
    <h1>Xin chào {{ name }}</h1>
    <form action="/logout/" method="POST">
        {% csrf_token %}
        <button type="submit">Đăng xuất</button>
    </form>
</body>
</html>